<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css")
    @Scripts.Render("https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Everest Video Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <button class="btn btn-lg"> @Html.ActionLink("List of usersType", "Index", "UserTypes")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of users", "Index", "Users")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of Artist", "Index", "Artists")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of CastMembers", "Index", "CastMembers")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of DVDCategoies", "Index", "DVDCategories")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of DVDCopies", "Index", "DVDCopies")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of DVDDetails", "Index", "DVDDetails")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of Loans", "Index", "Loans")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of MemberCategories", "Index", "MemberCategories")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of Members", "Index", "Members")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of CastMembers", "Index", "ProducerDVDDetailsMappings")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of Producers", "Index", "Producers")</button>
            <button class="btn btn-lg"> @Html.ActionLink("List of Studios", "Index", "Studios")</button>
        </div>
        <hr />

        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Everest Video Library | Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
