@model EverestVideoLibraryApp.Models.CastMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVDDetail.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVDDetail.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
